/*----MBOOK ALLOTMENT BUTTON STYLE*-----*/
.btn_add {
	background: url(../Buttons/Apply.gif);
	border-style: none;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

/*#btn_clear1
{
background:url(../Buttons/delete.png);
border-style:none;
background-repeat:no-repeat;
width:20px;
height:20px;
}*/
.btn_edit {
	background: url(../Buttons/edit.png);
	border-style: none;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.btn_clear {
	background: url(../Buttons/delete.png);
	border-style: none;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

/*----------------MEASUREMENT ENTRY BUTTON STYLE STARTS HERE-----------------*/
/*.addbtnstyle
{
	background-color:#FFFFFF;
	border:1px solid #91BAF9;
}*/
/*.editbtnstyle
{
background:url(../Buttons/edit.png);
border-style:none;
background-repeat:no-repeat;
width:20px;
height:16px;
padding-top:-6px;
padding-left:2px;
}*/
/*.delbtnstyle
{
background:url(../Buttons/delete.png);
border-style:none;
background-repeat:no-repeat;
width:20px;
height:16px;
padding-top:-6px;
}*/
/*----ALL SUBMIT SAVE UTTON STYLE*-----*/
/*input[type="submit"], input[type="reset"] { 
     padding:0.2em 0.7em; 
	color:white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: background-color 200ms linear;	      /*Safari and Chrome
	-moz-transition: background-color 200ms linear; 	      /*Firefox
	-o-transition: background-color 200ms linear;	      /*opera
	-ms-transition: background-color 200ms linear;
	transition: all 200ms linear;
	background-color: #1babd3;
	cursor: pointer;
	text-align: center;
	border: 0px solid #1babd3;
	font-weight:bold;
	letter-spacing: 1px;
}
input[type="submit"]:hover, input[type="reset"]:hover  , .button:hover{
	background:#E80017;
	 -moz-box-shadow: 0px 1px 4px rgba(0,0,0,5);
     -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,5);
      box-shadow:0px 1px 4px rgba(0,0,0,5);
	  padding: 0.3em 1em;
	  
	  font-weight:bold;
}
input[type="submit"]:active, input[type="reset"]:active, .button:active{
	background:rgba(255,51,0,1);
	 -moz-box-shadow: 0px 1px 4px rgba(0,0,0,5);
     -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,5);
      box-shadow:0px 1px 4px rgba(0,0,0,5);
	  padding: 0.3em 1em;
	  font-weight:bold;
}
*/
input[type="submit"],
input[type="reset"] {
	border-radius: 4px;
	color: #fff;
	background-color: #077CD3;
	border-color: #077CD3;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 14px 4px 14px;
	padding: 1px 9px 1px 9px;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
.button:hover {
	background-color: #02497E;
	border-color: #02497E;
}

input[type="submit"]:active,
input[type="reset"]:active,
.button:active {
	background-color: #02497E;
	border-color: #02497E;
}

input[type="radio"] {
	border: 1px solid #3A9CF2;
	height: 25px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #054BA4;
	font-weight: 600;
	text-align: right;
	padding: 0px 3px 0px 0px;
	font-size: 11px;
}

/*input[type="button"], input[type="reset"] { 
        border: solid 1px #ccc; 
        padding:0.1em 0.7em; 
	color:white;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-ms-border-radius: 1px;
	-o-border-radius: 1px;
	border-radius: 1px;*/
/*To make the state change a little real*/
/*-webkit-transition: background-color 200ms linear;	      /*Safari and Chrome
	-moz-transition: background-color 200ms linear; 	      /*Firefox
	-o-transition: background-color 200ms linear;	      /*opera
	-ms-transition: background-color 200ms linear;
	transition: all 200ms linear;
	background-color: #16a6b6;
	cursor: pointer;
	text-align: center;*/
/*}
input[type="button"]:hover, input[type="reset"]:hover  , .button:hover{
	background:#ee6557;
}
input[type="button"]:active, input[type="reset"]:active, .button:active{
	background:rgba(255,51,0,1);}*/
.addbtnstyle {
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
	background: -moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background: -webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background: -o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background: -ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2', GradientType=0);
	background-color: #33bdef;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border: 1px solid #057fd0;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	padding: 0px 0px;
	text-decoration: none;
	/*text-shadow:0px 0px 0px #5b6178;*/
	height: 20px;
	width: 80px;
	vertical-align: top;
	outline: none;
}

.addbtnstyle:hover {
	width: 98px;
	outline: none;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ac07b2), color-stop(1, #ac07b2));
	background: -moz-linear-gradient(top, #ac07b2 5%, #ac07b2 100%);
	background: -webkit-linear-gradient(top, #ac07b2 5%, #ac07b2 100%);
	background: -o-linear-gradient(top, #ac07b2 5%, #ac07b2 100%);
	background: -ms-linear-gradient(top, #ac07b2 5%, #ac07b2 100%);
	background: linear-gradient(to bottom, #ac07b2 5%, #ac07b2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ac07b2', endColorstr='#ac07b2', GradientType=0);
	background-color: #ac07b2;
	border: 1px solid #ac07b2;
	font-size: 12px;

	/*box-shadow: 0 1px 5px #EE1206;*/
}

.addbtnstyle:active {
	position: relative;
	top: 1px;
}

.addbtnstyle:focus {
	width: 98px;
	outline: none;
	background-color: #EE1206;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ac07b2), color-stop(1, #ac07b2));
	background: -moz-linear-gradient(top, #ac07b2 5%, #ac07b2 100%);
	background: -webkit-linear-gradient(top, #ac07b2 5%, #ac07b2 100%);
	background: -o-linear-gradient(top, #ac07b2 5%, #ac07b2 100%);
	background: -ms-linear-gradient(top, #ac07b2 5%, #ac07b2 100%);
	background: linear-gradient(to bottom, #ac07b2 5%, #ac07b2 100%);
	/*box-shadow: 0 0 5px #EE1206;*/
	border: 1px solid #ac07b2;
	font-size: 12px;
}

.editbtnstyle {
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
	background: -moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background: -webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background: -o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background: -ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2', GradientType=0);
	background-color: #33bdef;
	/*background:url(../Buttons/undo-4-16.png);*/
	/*background-image: url(../Buttons/edit-3-16.png);
	background-repeat: no-repeat;
	background-position: right;*/
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border: 1px solid #057fd0;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	padding: 0px 0px;
	text-decoration: none;
	/*text-shadow:0px -1px 0px #5b6178;*/
	height: 21px;
	width: 40px;
}

.editbtnstyle:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ac07b2), color-stop(1, #ac07b2));
	background: -moz-linear-gradient(top, #ac07b2 5%, #ac07b2 100%);
	background: -webkit-linear-gradient(top, #ac07b2 5%, #ac07b2 100%);
	background: -o-linear-gradient(top, #ac07b2 5%, #ac07b2 100%);
	background: -ms-linear-gradient(top, #ac07b2 5%, #ac07b2 100%);
	background: linear-gradient(to bottom, #ac07b2 5%, #ac07b2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ac07b2', endColorstr='#ac07b2', GradientType=0);
	/*background-color:#019ad2;
	background-image: url(../Buttons/edit-3-16.png);
	background-repeat: no-repeat;
	background-position: right;*/
	font-size: 11px;
	width: 58px;
	border: 1px solid #ac07b2;
}

.editbtnstyle:active {
	position: relative;
	top: 1px;
}

.delbtnstyle {
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
	background: -moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background: -webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background: -o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background: -ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2', GradientType=0);
	background-color: #33bdef;
	/*background:url(../Buttons/delete.png);*/
	background-repeat: no-repeat;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border: 1px solid #057fd0;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	padding: 0px 0px;
	text-decoration: none;
	/*text-shadow:0px -1px 0px #5b6178;*/
	height: 21px;
	width: 40px;
}

.delbtnstyle:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff0000), color-stop(1, #ff0000));
	background: -moz-linear-gradient(top, #ff0000 5%, #ff0000 100%);
	background: -webkit-linear-gradient(top, #ff0000 5%, #ff0000 100%);
	background: -o-linear-gradient(top, #ff0000 5%, #ff0000 100%);
	background: -ms-linear-gradient(top, #ff0000 5%, #ff0000 100%);
	background: linear-gradient(to bottom, #ff0000 5%, #ff0000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#ff0000', GradientType=0);
	background-color: #ff0000;
	font-size: 11px;
	width: 58px;
	border: 1px solid #ff0000;
}

.delbtnstyle:active {
	position: relative;
	top: 1px;
}

.updatebtnstyle {
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
	background: -moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background: -webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background: -o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background: -ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2', GradientType=0);
	background-color: #33bdef;
	/*background:url(../Buttons/delete.png);*/
	background-repeat: no-repeat;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border: 1px solid #057fd0;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	padding: 0px 0px;
	text-decoration: none;
	/*text-shadow:0px -1px 0px #5b6178;*/
	height: 21px;
	width: 40px;
}

.updatebtnstyle:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4AA02C), color-stop(1, #4AA02C));
	background: -moz-linear-gradient(top, #4AA02C 5%, #4AA02C 100%);
	background: -webkit-linear-gradient(top, #4AA02C 5%, #4AA02C 100%);
	background: -o-linear-gradient(top, #4AA02C 5%, #4AA02C 100%);
	background: -ms-linear-gradient(top, #4AA02C 5%, #4AA02C 100%);
	background: linear-gradient(to bottom, #4AA02C 5%, #4AA02C 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4AA02C', endColorstr='#4AA02C', GradientType=0);
	background-color: #4AA02C;
	font-size: 11px;
	width: 58px;
	border: 1px solid #4AA02C;
}

.updatebtnstyle:focus {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4AA02C), color-stop(1, #4AA02C));
	background: -moz-linear-gradient(top, #4AA02C 5%, #4AA02C 100%);
	background: -webkit-linear-gradient(top, #4AA02C 5%, #4AA02C 100%);
	background: -o-linear-gradient(top, #4AA02C 5%, #4AA02C 100%);
	background: -ms-linear-gradient(top, #4AA02C 5%, #4AA02C 100%);
	background: linear-gradient(to bottom, #4AA02C 5%, #4AA02C 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4AA02C', endColorstr='#4AA02C', GradientType=0);
	background-color: #4AA02C;
	font-size: 11px;
	width: 58px;
	border: 1px solid #4AA02C;
}

.updatebtnstyle:active {
	position: relative;
	top: 1px;
}

.tooltip {
	display: inline;
	position: relative;
}

.tooltip:hover:after {
	/*background: #333;
    background: rgba(0,0,0,.8);#14869E*/
	background: #1E90FF;
	border-radius: 5px;
	bottom: 26px;
	color: #fff;
	content: attr(title);
	left: 1%;
	padding: 5px 15px;
	position: absolute;
	z-index: 98;
	width: 120px;
	font-weight: bold;
	font-size: 12px;
}

.tooltip:hover:before {
	border: solid;
	border-color: #333 transparent;
	border-width: 6px 6px 0 6px;
	bottom: 20px;
	content: "";
	left: 50%;
	position: absolute;
	z-index: 99;
}


.tooltipleft {
	display: inline;
	position: relative;
}

.tooltipleft:hover:after {
	/*background: #333;
    background: rgba(0,0,0,.8);#14869E*/
	background: #1E90FF;
	border-radius: 5px;
	bottom: 26px;
	color: #fff;
	content: attr(title);
	left: -90px;
	padding: 5px 15px;
	position: absolute;
	z-index: 98;
	width: 120px;
	font-weight: bold;
	font-size: 12px;
}

.tooltipleft:hover:before {
	border: solid;
	border-color: #333 transparent;
	border-width: 6px 6px 0 6px;
	bottom: 20px;
	content: "";
	left: 50%;
	position: absolute;
	z-index: 99;
}

.tooltipwarning {
	display: inline;
	position: relative;
}

.tooltipwarning:hover:after {
	/*background: #333;
    background: rgba(0,0,0,.8);#14869E*/
	background: #4169E1;
	border-radius: 5px;
	bottom: 26px;
	color: #fff;
	content: attr(title);
	left: 1%;
	padding: 5px 15px;
	position: absolute;
	z-index: 98;
	width: 120px;
	font-weight: bold;
	font-size: 12px;
}

.tooltipwarning:hover:before {
	border: solid;
	border-color: #333 transparent;
	border-width: 6px 6px 0 6px;
	bottom: 20px;
	content: "";
	left: 50%;
	position: absolute;
	z-index: 99;
}

/*.backbutton { 
     padding:0.2em 0.7em; 
	color:white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: background-color 200ms linear;	      /*Safari and Chrome
	-moz-transition: background-color 200ms linear; 	      /*Firefox
	-o-transition: background-color 200ms linear;	      /*opera
	-ms-transition: background-color 200ms linear;
	transition: all 200ms linear;
	background-color: #1babd3;
	cursor: pointer;
	text-align: center;
	border:none;
	font-weight:bold;
	letter-spacing: 1px;
}
.backbutton:hover{
	background:#E80017;
	 -moz-box-shadow: 0px 1px 4px rgba(0,0,0,5);
     -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,5);
      box-shadow:0px 1px 4px rgba(0,0,0,5);
	  padding: 0.3em 1em;
	  border:none;
	  font-weight:bold;
}
.backbutton:active{
	background:rgba(255,51,0,1);
	 -moz-box-shadow: 0px 1px 4px rgba(0,0,0,5);
     -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,5);
      box-shadow:0px 1px 4px rgba(0,0,0,5);
	  padding: 0.3em 1em;
	  font-weight:bold;
}
*/

.backbutton {
	border-top: 1px solid #025976;
	border: none;
	background: #033140;
	background: -webkit-gradient(linear, left top, left bottom, from(#025976), to(#033140));
	background: -webkit-linear-gradient(top, #025976, #033140);
	background: -moz-linear-gradient(top, #025976, #033140);
	background: -ms-linear-gradient(top, #025976, #033140);
	background: -o-linear-gradient(top, #025976, #033140);
	padding: 6px 18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	-moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
	color: white;
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	font-weight: bold;
	cursor: pointer;
}

.backbutton:hover {
	border-top-color: #035a82;
	background: #035a82;
	color: #fff;
	cursor: pointer;
}

.backbutton:active {
	border-top-color: #850909;
	background: #850909;
}

.btn_outside_sect {
	height: 50px;
	line-height: 50px;
}

.btn_inside_sect {
	display: inline-block;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 40px;
	line-height: 40px;
	margin-right: 5px;

}

.buttonsection {
	text-align: center;
	line-height: 50px;
	display: inline-table;
	width: 90px;
}

.disabled {
	border-top: 1px solid #c2c3c4;
	border: none;
	background: #bdbebf;
	background: -webkit-gradient(linear, left top, left bottom, from(#dbdddd), to(#bdbebf));
	background: -webkit-linear-gradient(top, #dbdddd, #bdbebf);
	background: -moz-linear-gradient(top, #dbdddd, #bdbebf);
	background: -ms-linear-gradient(top, #dbdddd, #bdbebf);
	background: -o-linear-gradient(top, #dbdddd, #bdbebf);
	padding: 6px 18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/*-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;*/
	color: white;
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	font-weight: bold;
	cursor: default;
	pointer-events: none;
}

.disabled:hover {
	border-top-color: #c2c3c4;
	background: #c2c3c4;
	color: #fff;
	cursor: default;
	pointer-events: none;
}

.disabled:active {
	border-top-color: #c2c3c4;
	background: #c2c3c4;
}