	.rupee {
	  display: inline-block;
	  color: #0A6DC7;/*#FC0450;*/
	  -webkit-animation: movement 1500ms infinite ease-in-out;
	  animation: movement 1500ms infinite ease-in-out;
	  font-size:50px;
	  font-family:Verdana, Arial, Helvetica, sans-serif;
	}
	
	@-webkit-keyframes movement {
	}
	
	@keyframes movement {
	  0% {
		-webkit-transform: translateY(0) scale(0);
		transform: translateY(0) scale(0);
	  }
	  50% {
		-webkit-transform: translateY(-50px) scale(2);
		transform: translateY(-50px) scale(2);
	  }
	  100% {
		-webkit-transform: translateY(-100px) scale(0);
		transform: translateY(-100px) scale(0);
	  }
	}
	
	
	
	.cssload-loader{
	display:block;
	position:fixed;
	height:4em;width:4em;
	left:50%;
	margin-top:40%;
	margin-left:-33px;
	background-color:rgb(51,136,153);
	border-radius:2.5em 2.5em 2.5em 2.5em;
		-o-border-radius:2.5em 2.5em 2.5em 2.5em;
		-ms-border-radius:2.5em 2.5em 2.5em 2.5em;
		-webkit-border-radius:2.5em 2.5em 2.5em 2.5em;
		-moz-border-radius:2.5em 2.5em 2.5em 2.5em;
	box-shadow:inset 0 0 0 0.5em rgb(231,232,223);
		-o-box-shadow:inset 0 0 0 0.5em rgb(231,232,223);
		-ms-box-shadow:inset 0 0 0 0.5em rgb(231,232,223);
		-webkit-box-shadow:inset 0 0 0 0.5em rgb(231,232,223);
		-moz-box-shadow:inset 0 0 0 0.5em rgb(231,232,223);
	background: linear-gradient(-45deg, rgb(176,16,75), rgb(176,16,75) 50%, rgb(15,94,212) 50%, rgb(15,94,212));
		background: -o-linear-gradient(-45deg, rgb(176,16,75), rgb(176,16,75) 50%, rgb(15,94,212) 50%, rgb(15,94,212));
		background: -ms-linear-gradient(-45deg, rgb(176,16,75), rgb(176,16,75) 50%, rgb(15,94,212) 50%, rgb(15,94,212));
		background: -webkit-linear-gradient(-45deg, rgb(176,16,75), rgb(176,16,75) 50%, rgb(15,94,212) 50%, rgb(15,94,212));
		background: -moz-linear-gradient(-45deg, rgb(176,16,75), rgb(176,16,75) 50%, rgb(15,94,212) 50%, rgb(15,94,212));
	background-blend-mode: multiply;
	border-top:4px solid rgb(15,94,212);
	border-left:4px solid rgb(15,94,212);
	border-bottom:4px solid rgb(176,16,75);
	border-right:4px solid rgb(176,16,75);
	animation:cssload-roto 0.9s infinite linear;
		-o-animation:cssload-roto 0.9s infinite linear;
		-ms-animation:cssload-roto 0.9s infinite linear;
		-webkit-animation:cssload-roto 0.9s infinite linear;
		-moz-animation:cssload-roto 0.9s infinite linear;
}


@keyframes cssload-roto {
	0%{transform:rotateZ(0deg);}
	100%{transform:rotateZ(360deg);}
}

@-o-keyframes cssload-roto {
	0%{-o-transform:rotateZ(0deg);}
	100%{-o-transform:rotateZ(360deg);}
}

@-ms-keyframes cssload-roto {
	0%{-ms-transform:rotateZ(0deg);}
	100%{-ms-transform:rotateZ(360deg);}
}

@-webkit-keyframes cssload-roto {
	0%{-webkit-transform:rotateZ(0deg);}
	100%{-webkit-transform:rotateZ(360deg);}
}

@-moz-keyframes cssload-roto {
	0%{-moz-transform:rotateZ(0deg);}
	100%{-moz-transform:rotateZ(360deg);}
}
.loaddiv{
	display:block;
	position:fixed;
	height:100em;
	width:100%;
	margin:-24em 0em -65em 0em;
	background-color: rgba(0,0,0,0.5);
	z-index:99999;
}
.pageload{
	display:none;
}
