/*.face1{
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
	border-radius:20px;
}
.box-container .card .face.face1.nBox1 {
  	position: relative;
  	background: #fff;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	z-index: 1;
	background: linear-gradient(to bottom right, #056AB0 40%, #04C0DE 100%);
	cursor:default;
}
.box-container .card .face.face1.nBox2 {
  	position: relative;
  	background: #fff;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	z-index: 1;
	background: linear-gradient(to bottom right, #056AB0 40%, #04C0DE 100%);
	cursor:default;
}
.box-container .card:hover .face.face1 .box-content .ItemBox{
	color:rgba(1, 55, 96, 0.6);
}
.box-container .card .face.face1 .box-content .item-box-head{
	color:#fff;
}
.box-container .card:hover .face.face1 .box-content .item-box-head{
	color:#fff;
}
.ItemBox{
	color:#fff;
	color:rgba(5, 90, 156, 1);
}
.box-container .card .face{
	height:250px;
}
.notBtn{
	padding:8px 10px;
	background:none;
	margin-top:12px;
	border:2px solid #13171C;
	border-radius:4px;
	font-weight:bold;
	cursor:pointer;
	letter-spacing:1px;
	color:#fff;
	background:rgba(0, 0, 0, 0.1);
}
.notBtn:hover{
	border-color:rgba(0, 0, 0, 0.2);
	background:rgba(0, 0, 0, 10);
	color:#fff;
}
.notyCnt{
	padding:2px 5px 2px 4px;
	border-radius:15px;
	background:red;
	font-size:12px;
}*/
.outer-div,
.inner-div {
  height: 350px;
  width: 98%;
  margin: 0 auto;
  position: relative;
}

.outer-div {
  -webkit-perspective: 900px;
          perspective: 900px;
  -webkit-perspective-origin: 50% calc(50% - 18em);
          perspective-origin: 50% calc(50% - 18em);
}

.inner-div {
  margin: 50px auto;
  border-radius: 5px;
  font-weight: 400;
  color: #071011;
  font-size: 1rem;
  text-align: center;
  -webkit-transition: all 0.6s cubic-bezier(0.8, -0.4, 0.2, 1.7);
  transition: all 0.6s cubic-bezier(0.8, -0.4, 0.2, 1.7);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.inner-div:hover .social-icon {
  opacity: 1;
  top: 0;
}
.front,
.back {
  position: relative;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.front {
  cursor: pointer;
  height: 100%;
  background: #fff;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 5px;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.front__bkg-photo {
  position: relative;
  height: 150px;
  width: 100%;
  /*background:url("../images/notyBg.jpg") no-repeat;*/
  background:#AFB1B8;/*#D3DFFB;*/
  background-size: cover;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.front__bkg-photo1 {
  position: relative;
  height: 150px;
  width: 100%;
  /*background:url("../images/notyBg.jpg") no-repeat;*/
  background:#0C0C11;/*#D3DFFB;*/
  background-size: cover;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  opacity: .9;
  border:2px solid #000;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 3000px rgba(19,19,44,0.5);
 filter: blur(10px);
}
.front__bkg-photo:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.front__face-photo {
  position: relative;
  top: -96px;
  height: 120px;
  width: 120px;
  margin: 0 auto;
  border-radius: 50%;
  border: 5px solid #ECEDEF;
  background-color:#fff;
  /*background: url("../images/man1.png") no-repeat;*/
  background-size: contain;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  -webkit-transition: all 0.6s cubic-bezier(0.8, -0.4, 0.2, 1.7);
  transition: all 0.6s cubic-bezier(0.8, -0.4, 0.2, 1.7);
  z-index: 3;
}

.front__text {
  position: relative;
  top: -77px;
  margin: 0 auto;
  font-family: verdana;
  font-size: 18px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.front__text .front__text-header {
  font-weight: 700;
  font-family: verdana;
 /* text-transform: uppercase;*/
  font-size: 13px;
  color:#043985;
}
.front__text .front__text-para {
  position: relative;
  top: -5px;
  color: #000;
  font-size: 14px;
  letter-spacing: 0.4px;
  font-weight: 400;
  font-family: verdana;
}
.front__text .front-icons {
  position: relative;
  top: 0;
  font-size: 14px;
  margin-right: 6px;
  color: gray;
}
.front__text .front__text-hover1 {
  position: relative;
  top: 10px;
  font-size: 11px;
  color: tomato;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid #135DC8;
  padding: 8px 15px;
  border-radius: 30px;
  background: #135DC8;
  color: #fff;
}
.front__text .front__text-hover2 {
  position: relative;
  top: 10px;
  font-size: 11px;
  color: tomato;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid #E31B51;
  padding: 8px 15px;
  border-radius: 30px;
  background: #E31B51;
  color: #fff;
}
.front__text .front__text-hover1:hover{
  background: #E31B51;
   border: 2px solid #E31B51;
}
.front__text .front__text-hover2:hover{
  background: #135DC8;
   border: 2px solid #135DC8;
}

.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #071011;
  border-radius: 5px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.social-media-wrapper {
  font-size: 36px;
}
.social-media-wrapper .social-icon {
  position: relative;
  top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  opacity: 0;
  color: #fff;
  -webkit-transition: all 0.4s cubic-bezier(0.3, 0.7, 0.1, 1.9);
  transition: all 0.4s cubic-bezier(0.3, 0.7, 0.1, 1.9);
}
.social-media-wrapper .social-icon:nth-child(1) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.social-media-wrapper .social-icon:nth-child(2) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}
.social-media-wrapper .social-icon:nth-child(3) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
.social-media-wrapper .social-icon:nth-child(4) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.fab {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.fab:hover {
  top: -5px;
}
.notyCntBox{
	padding:8px;
}
.notyCnt{
	padding:4px 8px 4px 7px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	background:#DBDCDD;
	font-weight:bold;
	font-size:13px;
	border-radius:10px;
	color:#0E0608;
}