.widget{
    background-color: #fff;
    font: 11pt verdana;
    color: #333;
    padding: 7px;
    /*margin: 20px;*/
    width: 100%;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

.widget ul{
	list-style-position: inside;
}

.widget h5{
    font-size: 14pt;
    margin: 5px;
}

.new-widget{
	margin: 0px;
  	border-top: 0;
    background-color: #fff;
    /*padding: 7px;*/
    width: 100%;
    clear: both;
}
.new-widget ul{
	display: none;
}

.tab-wrapper{
/*  margin-left: 1px; */
	width: 100%;
  	padding: 0;
/*  height: 0px; */
/*  background: #1abc9c;  */
}


.tab{
/* width: 100px;*/
	padding: 4px 10px;
  	margin-right: 5px;
  	font-size: 12px;
/*   border: 1px solid red; */
    border-radius: 10px 10px 0 0;
/* height: 33px; */
    float: left;
    background: #fff;
    text-transform: capitalize;
    color: #026D94;
    text-align: center;
    /* line-height: 2.0em; */
    cursor: pointer;
    list-style: none!important;
  	transition: all 200ms;
/*   border-right: 0.125rem solid #16a085; */
    border-top: 1px solid #0288B9;
    border-right: 1px solid #0288B9;
    border-left: 1px solid #0288B9;
	border-bottom: 1px solid #CBCDCF;
	font-family:Verdana;
}

.tab:hover {
	background:#20C2FD;
	color: #fff;
	border:1px solid #20C2FD;
}

.active-tab{
	background:#079ED5;
	color: #fff;
	border:1px solid #079ED5;
	font-weight:500;
	font-family:Verdana;
}

.active-tab:hover {
	background:#079ED5;
	border:1px solid #079ED5;
}

.tab-content {
	padding: 0 0;
}

/* TABLE STYLING */

.group-table caption {
	background:#02497E;
  	color: #fff;
  	padding: 8px;
  	font-size: 1.0em;
}

.group-table {
	border-top: 1px solid #ddd; 
  	width:100%;
    /*  border:1px solid #ddd; */
	/*  border-top: none;  */
    border-collapse:collapse;
    padding:5px;
    text-align: center;
}
.group-table th {
    /*  border:1px solid #ddd;
    border-top: none; */
	padding: 10px 5px;
    font-weight: 600;
	background:#EDF5FD;
    color: #37404B;
}
.group-table td {
    /*  border:1px solid #ddd; */
	padding:10px 2px;
}

td:nth-child(3) {
    /* min-width: 90px; */
}

.group-table th, .group-table td {
	border-right: 1px solid #ddd;
	font-size:11px !important;
	color:#04498E;
	border:1px solid #B9B9BA;
	font-weight:bold;
}
.group-table.table > thead > tr > th{
	border:1px solid #B9B9BA;
	color:#383E43;
}

.group-table th:last-child, .group-table td:last-child {
	border-right: none;
}

.group-table tr:nth-child(odd) {
  	background: #fff;
}

#morning .group-table td:nth-child(3) {
  	background: #fff;
}

.group-table td.align-bottom {
  	vertical-align: bottom;
  	padding: 0;
}

.group-table td.align-top {
  	vertical-align: top;
  	padding: 0;  
}

#morning .group-table td:nth-child(3), #afternoon .group-table td:nth-child(3), #evening .group-table td:nth-child(3) {
  	background: #fff;
} 

#weekend .group-table td:nth-child(2) {
  	background: #fff;
}
