:root{
    --main_color1: #e84393;
    --main_color2: #fff;
}	
.vertical-tab{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    display: table;
}
.vertical-tab .nav-tabs{
    display: table-cell;
    width: 28%;
    min-width: 28%;
    border: none;
    vertical-align: top;
    position: relative;
}
.vertical-tab .nav-tabs li{
   float: none;
   vertical-align: top;
}
.vertical-tab .nav-tabs li a{
    color: var(--main_color1);
    background-color: var(--main_color2);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 12px 15px;
    margin: 0 0 5px 0;
    border-radius: 0;
    border: none;
    box-shadow: 0 0 2px #555;
    perspective: 700px;
    position: relative;
    z-index: 1;
    transition: all 0.20s ease 0s;
}
.vertical-tab .nav-tabs li a:hover,
.vertical-tab .nav-tabs li.active a,
.vertical-tab .nav-tabs li.active a:hover{
    color: var(--main_color2);
    background-color: var(--main_color2);
    border: none;
}
.vertical-tab .nav-tabs li a:before{
    content: '';
    background-color: var(--main_color1);
    height: 100%;
    width: 100%;
    transform: rotateY(-100deg);
    transform-origin: right;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s;
    z-index: -1;
}
.vertical-tab .nav-tabs li.active a:before,
.vertical-tab .nav-tabs li a:hover:before{
    transform: rotateY(0);
}
.vertical-tab .tab-content{
    color: var(--main_color1);
    background-color: var(--main_color2);
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 23px;
    margin-top: 10px;
    padding: 10px 22px 5px;
    box-shadow: 0 0 2px #555;
    display: table-cell;
    position: relative;
}
.vertical-tab .tab-content h3{
    text-transform: uppercase;
    margin: 0 0 7px 0;
}
@media only screen and (max-width: 479px){
    .vertical-tab .nav-tabs{
        display: block;
        width: 100%;
        border-right: none;
    }
    .vertical-tab .nav-tabs li a{
        border-radius: 0;
        margin: 0 0 5px;
    }
    .vertical-tab .nav-tabs li a:before{ transform:rotateY(-95deg); }
    .vertical-tab .tab-content{
        display: block;
        padding: 20px 15px 5px;
    }
    .vertical-tab .tab-content h3{ font-size: 18px; }
}
